[include mainsail.cfg]
[include sovol-macros.cfg]
[include adaptive_purge.cfg]
[include timelapse.cfg]
[include options/lcd/*.cfg] # Stock LCD Sreen
[include options/probe/eddy.cfg] # BTT Eddy probe
#[include custom-macros.cfg]
#[include test_z_steppers.cfg]
#[include options/thermistor/pico.cfg] # Enclosure thermistor

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD7054755303908701257-if00
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_51393B8F0891305432363838-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
#max_accel: 40000             
max_accel: 8200    
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true 
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin: PC0
dir_pin: PE5
enable_pin: !PC1
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 347
position_min: -5
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address: 3

[stepper_z1] #motherboard：Z1
step_pin: PD3
dir_pin: !PD1
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD2
interpolate: true
run_current:  0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address: 3

[stepper_z2] ##motherboard：Z2
step_pin: PD7
dir_pin: PD5
enable_pin: !PB5
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PD6
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address: 3

[stepper_z3] ##motherboard：Z4
step_pin: PD11
dir_pin: !PD9
enable_pin: !PD12
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PD10
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
uart_address: 3
stealthchop_threshold: 999999

[thermistor my_thermistor_e]
temperature1: 25
resistance1: 110000
temperature2: 100
resistance2: 7008
temperature3: 220
resistance3: 435

[extruder]
step_pin: extra_mcu:PA8
dir_pin: extra_mcu:PB8
enable_pin: !extra_mcu:PB11
rotation_distance: 6.40185
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 150
max_extrude_cross_section: 5
heater_pin: extra_mcu:PB9
sensor_type: my_thermistor_e
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5
min_temp: 5
max_temp: 305
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PB10
interpolate: true
run_current: 0.8
#hold_current: 0.75
uart_address: 3
sense_resistor: 0.150

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode:
  # G1 E10 F1500
  # G1 E-100 F1500
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 1.0
switch_pin: ^PE9

[filament_motion_sensor encoder_sensor]
detection_length: 3.0
extruder: extruder
switch_pin: ^PE12
pause_on_runout: True
runout_gcode:
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted
event_delay: 3.0
pause_delay: 0.5

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5362.6

[heater_bed]
heater_pin: PA0
sensor_type: my_thermistor
sensor_pin: PC5
max_power: 1.0
min_temp: 5
max_temp: 105

[verify_heater heater_bed]
max_error: 120
check_gain_time: 40
hysteresis: 5
heating_gain: 2

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                 
horizontal_move_z: 2
retry_tolerance: 0.05
retries: 5
max_adjust: 30

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan]
pin: PA2
max_power: 1.0

[temperature_fan host_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 50
sensor_type: temperature_host
max_speed: 1.0
min_speed: 0.1
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0

[heater_fan hotend_fan]
pin: extra_mcu:PA6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
tachometer_pin: extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[led main_led]
white_pin: PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor toolhead_temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[firmware_retraction]
retract_length: 0.8
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 35

[adxl345]
cs_pin: extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30
accel_per_hz: 50
min_freq: 1
max_freq: 100
max_smoothing: 0.2
hz_per_sec: 0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 28.550
#*# pid_ki = 2.321
#*# pid_kd = 87.794
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_kp = 67.699
#*# pid_ki = 0.770
#*# pid_kd = 1487.692
#*# control = pid
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 59.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.4
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050625:3218935.541,0.090000:3218333.899,0.129375:3217733.028,
#*# 	0.170625:3217131.347,0.210000:3216542.814,0.249375:3215954.686,
#*# 	0.290625:3215316.331,0.330000:3214664.543,0.369375:3214014.253,
#*# 	0.410625:3213339.957,0.450000:3212699.421,0.489375:3212057.438,
#*# 	0.530625:3211379.642,0.570000:3210727.986,0.609375:3210079.638,
#*# 	0.650625:3209427.962,0.690000:3208808.378,0.729375:3208200.029,
#*# 	0.770625:3207567.745,0.810000:3206965.367,0.849375:3206388.563,
#*# 	0.890625:3205798.893,0.930000:3205213.212,0.969375:3204644.995,
#*# 	1.010625:3204055.987,1.050000:3203501.067,1.089375:3202959.446,
#*# 	1.130625:3202399.825,1.170000:3201865.612,1.209375:3201344.671,
#*# 	1.250625:3200815.035,1.290000:3200316.156,1.329375:3199816.581,
#*# 	1.370625:3199317.643,1.410000:3198848.753,1.449375:3198369.849,
#*# 	1.490625:3197893.593,1.530000:3197440.736,1.569375:3196990.532,
#*# 	1.610625:3196523.631,1.650000:3196097.457,1.689375:3195667.121,
#*# 	1.730625:3195241.638,1.770000:3194829.494,1.809375:3194423.278,
#*# 	1.850625:3194016.364,1.890000:3193629.556,1.929375:3193236.661,
#*# 	1.970625:3192850.390,2.010000:3192488.023,2.049375:3192121.437,
#*# 	2.090625:3191735.224,2.130000:3191391.751,2.169375:3191048.920,
#*# 	2.210625:3190691.404,2.250000:3190366.613,2.289375:3190035.081,
#*# 	2.330625:3189692.344,2.370000:3189376.161,2.409375:3189071.852,
#*# 	2.450625:3188751.177,2.490000:3188447.725,2.529375:3188142.798,
#*# 	2.570625:3187837.295,2.610000:3187548.483,2.649375:3187272.291,
#*# 	2.690625:3186974.256,2.730000:3186710.769,2.769375:3186437.921,
#*# 	2.810625:3186165.203,2.850000:3185903.113,2.889375:3185652.894,
#*# 	2.930625:3185390.139,2.970000:3185145.311,3.009375:3184898.467,
#*# 	3.050625:3184652.522,3.090000:3184407.728,3.129375:3184174.103,
#*# 	3.170625:3183933.506,3.210000:3183709.310,3.249375:3183493.285,
#*# 	3.290625:3183265.004,3.330000:3183064.165,3.369375:3182844.917,
#*# 	3.410625:3182624.875,3.450000:3182434.004,3.489375:3182233.239,
#*# 	3.530625:3182024.489,3.570000:3181829.120,3.609375:3181633.468,
#*# 	3.650625:3181434.339,3.690000:3181254.731,3.729375:3181070.785,
#*# 	3.770625:3180884.562,3.810000:3180706.624,3.849375:3180533.883,
#*# 	3.890625:3180350.894,3.930000:3180179.630,3.969375:3180016.159,
#*# 	4.010625:3179851.509,4.050000:3179686.770
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 46.888581
